@using BitBookWebApplication.Models
@model BitBookWebApplication.Models.ProfilePost

@{
    Layout = null;
    PostInfo postInfo=new PostInfo();
    int noOfLike = 50;
    int signupID=ViewBag.SignupID;
    Person personInfo = ViewBag.PersonInfo;
    string password=ViewBag.Password;
    List<Notification> notifications = ViewBag.NotificationList;
    string Name=ViewBag.Name;
    string SearchName = null;
    int personID=ViewBag.PersonID;
    List<AllAboutPost> postInfos = ViewBag.PostInfos;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/bitProfile.css" rel="stylesheet" />
    <style>
        .cover-body {
            width: 100%;
            height: 400px;
            background-color: burlywood;
        }
        .left-side-nav {
            width: 30%;
            float: left;
            min-height: 800px;
            background-color: gray;
        }
        .right-side-nav {
            width: 70%;
            float: left;
            min-height: 800px;
            background-color:rosybrown;
        }
        .friend-list {
            width: 100%;
            min-height: 200px;
            background-color: gold;
        }

        .photo-list {
            width: 100%;
            min-height: 200px;
            background-color: navajowhite;
        }
        .left-side-side {
            width: 25%;
            min-height: 50px;
            float: left;
            text-align: center;
            background-color: violet;
        }
        .mid-left-side {
            width: 25%;
            min-height: 50px;
            float: left;
            text-align: center;
            background-color: navajowhite;
        }
        .mid-right-side {
            width: 25%;
            min-height: 50px;
            float: left;
            text-align: center;
            background-color: violet;
        }
        .right-side-side {
            width: 25%;
            min-height: 50px;
            float: left;
            text-align: center;
            background-color: navajowhite;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header1">
        <div id="brandLogo" class="header1">
            <a href="@Url.Action("HomePage", "Home", new {authenticationInfo = signupID})"><img src="/Images/bitbookLogo.gif" class="brandLogosize"/></a>
        </div>
        <div id="searchboxstyle" class="header1">
            <form method="post" id="SearchForm">
                <div class="navbar-collapse collapse" style="">
                    <ul class="nav navbar-nav">
                        <li><input type="text" placeholder="Search Here..." style="background-color: rosybrown; color: blue" id="SearchDetail" name="SearchDetail"/></li>
                        <li><button class="btn" id="Search" name="action:SearchPage" style="height: 26px; border-radius: 10px; background-color: green">Search</button></li>
                    </ul>
                </div>
            </form>

        </div>

        <div id="profilepicsmall" class="header1">
            <img src="/Images/profilepicsmall.png" class="profilepicsmallsize"/>

            <div class="dropdown">
                <button class="dropbtn">@Name</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("ProfileView", "Profile", new { personID = signupID })">View Profile</a>
                    <a href="@Url.Action("EditView", "Edit", new {signupIds = signupID})">Edit Profile</a>
                    <a href="@Url.Action("SignUpView", "SignUp")">Logout</a>

                </div>
            </div>

        </div>
    </div>

    <div id="message" class="header1"><a href="@Url.Action("FriendListView", "Home", new {userID = signupID})"><img src="/Images/frn.png" height="30" /></a>
    </div>
    <div id="notification" class="header1">
        <div class="dropdown">
            <button ><img src="/Images/noti.png" height="30"/></button>
            <div class="dropdown-content">
                @if (ViewBag.NotificationList != null)
                {
                    foreach (Notification notification in notifications)
                    {
                        @Html.ActionLink(@notification.NotificationString, "DecideRedirectPost", "Home", new { postType = notification.Type, id=notification.TypeId }, null)
                    }
                }
            </div>
        </div>


    </div>
    <div id="profilearea2" class="header1">|</div>
    <div id="setting" class="header1"><a href="@Url.Action("EditView", "Edit", new {signupIds = signupID})"><img src="/Images/set.png" height="30"/></a>
    </div>
    <div id="logout" class="header1"><a href="@Url.Action("SignUpView", "SignUp")"><img src="/Images/lo.png" height="30"/></a>
    </div>


    <div class="header0001">
    </div>
    <div class="cover-body">
        @if (ViewBag.CoverImage != null)
        {
            string coverImage = ViewBag.CoverImage;
            <img style="width: 100%; height: 400px;" src="@String.Format("data:image.png;base64,{0}", coverImage)" alt="CoverImage"/>
        }
    </div>
    <div class="left-side-nav">
        <div class="profile-photo-name">
            @if (ViewBag.ProfileImage != null)
            {

                string profileImage = ViewBag.ProfileImage;
                <img class="center-block" style="width: 100px; height: 100px;" src="@String.Format("data:image.png;base64,{0}", profileImage)" alt="ProfileImage"/>
            }
        </div>
        <div class="profile-photo-name">
            <label style="text-align: center; vertical-align: middle;">@personInfo.Name</label>
            <br />
            <label style="text-align: center; vertical-align: middle;">@personInfo.Email</label>
            <br />
            <label style="text-align: center; vertical-align: middle;">@personInfo.MobileNo</label>
        </div>
        <div class="friend-list">
            <label>@Html.ActionLink("FriendList", "FriendListView", "Home", new {userID = personID}, null)</label>
        </div>
        <div class="photo-list">
            <label>@Html.ActionLink("Photo List", "PhotoListView", "Profile", new {userID = personID}, null)</label>
        </div>
    </div>
    <div class="right-side-nav">
        <div>
            <div class="left-side-side">
                @if (signupID == personID)
                {
                    <label>@Html.ActionLink("Edit Profile", "EditView", "Edit", new {signupIds = personID}, null)</label>
                }
            </div>
            <div class="mid-left-side">
                <label>@Html.ActionLink("Photos", "PhotoListView", "Profile", new {userID = personID}, null)</label>
            </div>
            <div class="mid-right-side">
                <label>@Html.ActionLink("FriendList", "FriendListView", "Home", new {userID = personID}, null)</label>
            </div>
            <div class="right-side-side">
                <label>@Html.ActionLink("Logout", "SignUpView", "SignUp", new {}, null)</label>
            </div>
            <div style="display: block;"></div>
            <div>
                @*<div class="post-left-image">
                    @if (ViewBag.ProfileImage != null)
                    {
                        //byte[] profileImageInByte = ViewBag.ProfileImage;
                        string profileImage = ViewBag.ProfileImage;
                        <img class="center-block" style="width: 100px; height: 100px;" src="@String.Format("data:image.png;base64,{0}", profileImage)" alt="ProfileImage"/>
                    }
                </div>*@
                @if (ViewBag.Message != null)
                {

                    <h3 class='alert alert-success'>@ViewBag.Message</h3>
                }
                @if (signupID == personID)
                {
                    <div>
                    @using (Html.BeginForm("ProfileView", "Profile", FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        @Html.HiddenFor(c => c.SignupId)
                        @Html.HiddenFor(c => c.Password)
                        @Html.HiddenFor(c => c.Name)
                        @Html.HiddenFor(c => c.PersonID)
                        <div>@Html.Label("Give your post")</div>
                        <div>@Html.TextAreaFor(c => c.PostDetail, new {@cols = "80", @rows = "4"})</div>
                        <div>@Html.ValidationMessageFor(c => c.PostDetail)</div>
                        <div style="float: left; width: 40%">
                            <input type="file" id="PostPhoto" name="PostPhoto" style="width: 100%;"/>
                        </div>
                        <div style="float: left; width: 60%">
                            <button id="Post" name="action:ProfileView" type="submit" style="width: 55%; text-align: center; background-color: goldenrod">Post</button>
                        </div>
                    }
                </div>
                }
                
                

                <div style="width: 100%; min-height: 10px; float: left"></div>
                <div style="width: 100%; min-height: 5px; background-color: blue; float: left"></div>
                <div style="width: 100%; min-height: 10px; float: left"></div>
                @if (ViewBag.PostInfos != null)
                {
                    foreach (AllAboutPost allAboutPost in postInfos)
                    {
                        <div>
                            <div style="width: 100%; float: left">
                                <div style="float: left;">
                                    @if (allAboutPost.ProfilePhotoInString != null)
                                    {
                                        string profileImage = allAboutPost.ProfilePhotoInString;
                                        <img style="width: 30px; height: 30px;" src="@String.Format("data:image.png;base64,{0}", profileImage)" alt="ProfileImage"/>
                                    }
                                </div>
                                <div style="float: left; width: 70%">@Html.ActionLink(@allAboutPost.Name.ToString(), "ProfileView", "Profile", new { personID = allAboutPost.SignUpID }, new { @style = "color:#000aaa;" })</div>

                                <div style="float: left; width: 20%">
                                    @if (signupID == personID)
                                    {
                                        @Html.ActionLink("Delete", "DeletePost", "Profile", new {userPostId = allAboutPost.Id}, null)
                                    }
                                </div>
                            </div>
                            <div style="display: block;"></div>
                            <div style="width: 100%; min-height: 50px; float: left">
                                <div style="width: 80%; min-height: 100px; background-color: burlywood; float: left;">@Html.Label(allAboutPost.PostDetail, new {@cols = "80", @rows = "4"})</div>
                                <div style="width: 20%; min-height: 100px;  float: left;">
                                    @if (allAboutPost.PostPhotoInString != null)
                                    {
                                        string profileImage = allAboutPost.PostPhotoInString;
                                        <img style="width: 100%; height: 100%;" src="@String.Format("data:image.png;base64,{0}", profileImage)" alt="ProfileImage"/>
                                    }
                                </div>
                            </div>
                            <div style="float: left; width: 5%">@Html.ActionLink(@allAboutPost.NoOfLike.ToString(), "ShowWhoLiked", "Home", new {id = allAboutPost.Id}, null)</div>
                            <div style="float: left; width: 65%">@Html.ActionLink("Like", "DoLike", "Profile", new {id = allAboutPost.Id}, null)</div>
                            <div style="float: left; width: 30%">@Html.ActionLink("Comment", "Comment", "Home", new {id = allAboutPost.Id}, null)</div>
                        </div>
                        <div style="width: 100%; min-height: 10px; float: left"></div>
                        <div style="width: 100%; min-height: 5px; background-color: blue; float: left"></div>
                        <div style="width: 100%; min-height: 10px; float: left"></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
</body>
</html>
